h2{
color:red;
font-size: medium;

border-radius: 14px;
}
.col{
    padding : .2em 1.3;
}
.component2{
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:grid;
    grid-template-columns: 70% auto;
    font-size: 100%;
   
    border-radius: 10px;
}
input.text{
    border: 4px;
    padding:1em;
    width: 100px;
    margin-bottom: 2em;
    border-style: inset;
    border-radius: 12px;
    text-size-adjust: 220px;
}
input.btn{
    border: 4px;
    padding:12px;
    width: 100px;
    margin-bottom: 2em;
    border-style: inset;
    border-radius: 12px;
    border-top-color: azure;
    background-color: azure;
}
.project-container{
    padding: .5em;
    font-weight:  italic;
    cursor: pointer;
    font-size:24px;
    border-radius: 0%;
}
.thanks{
    font: outline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align-last: center;
    font-size: x-large;
}